form#form1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 50vh;
    font-size: 2vh;

    /* border: solid #FF0000 */
}

.input-form {
    text-align: center;
    padding: 10px 5px 10px 5px;
    height: 6vh;
    border-radius: 10px;
    border: 2px solid #000;
    color: #000;
}

/* Linha 1 */
.head-form {
    width: 90%;
    display: flex;
    justify-content: space-between;

    /* border: solid #000 */
}

#display-id {
    width: 20%;
    /* margin-right: 5% */
}

#input-loja {
    width: 30%;
    /* margin-right: 5% */
}

#input-user {
    width: 40%;
}

/* Linha 2 */
#input-sku {
    width: 90%;
}

/* Linha 3 */
.inputs-localidades {
    width: 90%;
    display: flex;
    justify-content: space-between;

    /* border: solid #000 */
}

.input-loc {
    width: 47.5%
}

/* Linha 4 */
#input-quantidade {
    width: 90%;
}

/* Linha 5 */
#input-observacao {
    width: 90%;
}

/* Linha 5 */
.footer-form {
    width: 90%;
    display: flex;
    justify-content: space-between;

    /* border: solid #000 */
}

a {
    padding-top: 1.5vh;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: #FFF;
}

.btn-form {
    width: 40%;
    height: 6vh;

    border: none;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
    transition: background .3s;
}

.btn-cancelar {
    background-color: #F73535;
    color: #FFFFFF;
}

.btn-cancelar:hover {
    background-color: #F76363;
}

.btn-cancelar:focus {
    background-color: #F7A9A9;
}


.btn-executar {
    background-color: #50A317;
    color: #FFFFFF;
}

.btn-executar:hover {
    background-color: #9ED266;
}

.btn-executar:focus {
    background-color: #B7D885;
}

/* Tabela */
#table-items {
    align-items: center;
    width: 100vw;
}

th {
    text-align: center;
}

td {
    text-align: center;
}
