<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Detalhes</title>
</head>
<body>
    <div>
        <p>ID: {{ item['id'] }}</p>
        <p>Loja: {{ item['loja'] }}</p>
        <p>Sku: {{ item['sku'] }}</p>
        <p>Loc. Antiga: {{ item['loc-antiga'] }}</p>
        <p>Loc. Nova: {{ item['loc-nova'] }}</p>
        <p>Quantidade: {{ item['quantidade'] }}</p>
        <p>Situação: {{ item['situacao'] }}</p>
        <p>Observação: {{ item['observacao'] }}</p>
        <p>Usuário: {{ item['usuario'] }}</p>
        <p>Data/Hora: {{ item['data-hora'] }}</p>
    </div>
</body>
</html>