<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Troca de Localidade - @mikaelzera</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/troca_de_localidade.css') }}" >
</head>
    <style></style>
<body>

    <form id="form1">

        <div class="head-form">
            <input id="display-id" name="display-id" type="text" class="input-form"
                   placeholder="ID" value="{{ id_item }}" readonly>
            <select class="input-form" id="input-loja" name="input-loja"
                    style="border-radius: 5px; cursor: pointer;">
                {% if id_item %}
                  <option selected="selected" value="{{ item['loja'] }}">{{ item['loja'] }}</option>
                {% elif loja_padrao %}
                  <option selected="selected" value="{{ loja_padrao }}">{{ loja_padrao }}</option>
                {% endif %}
              <option value="Rosa Azul">Rosa Azul</option>
              <option value="Use Force">Use Force</option>
            </select>
            <input id="input-user" name="input-user" class="input-form" type="text"
                   placeholder="Usuário" value="{{ usuario_padrao if usuario_padrao else '' }}">
        </div>

        <input id="input-sku" name="input-sku" class="input-form" type="text"
               placeholder="Referência (SKU)" value="{{ item['sku'] }}">

        <div class="inputs-localidades">
            <input id="input-loc-antiga" name="input-loc-antiga" class="input-loc input-form" type="text"
                   placeholder="Localidade Antiga" value="{{ item['loc-antiga'] }}">
            <input id="input-loc-nova" name="input-loc-nova" class="input-loc input-form" type="text"
                   placeholder="Localidade Nova" value="{{ item['loc-nova'] }}">
        </div>

        <input id="input-quantidade" name="input-quantidade" type="number" class="input-form"
               placeholder="Quantidade (Padrão = Quantidade liberada)" value="{{ item['quantidade'] }}">
        <input id="input-observacao" name="input-observacao" type="text" class="input-form"
               placeholder="Observação (Opcional)">

        <div class="footer-form">
            <a id="btn-cancelar-form" class="btn-form btn-cancelar" href="{{ url_for('troca_de_localidade') }}"
               role="button"
               aria-disabled="true">
                Cancelar
            </a>
            <button id="btn-executar" class="btn-form btn-executar" type="submit" formaction="/executar"
                    formmethod="POST">
                Executar
            </button>
        </div>

    </form>


    <table id="table-items" class="table">
      <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">SKU</th>
            <th scope="col">Loc. Antiga</th>
            <th scope="col">Loc. Nova</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Situação</th>
            <th scope="col">Observação</th>
            <th scope="col">Loja</th>
            <th scope="col">Usuário</th>
            <th scope="col">Hora/Data</th>
            <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% if lista_troca_localidade %}
            {% for item in lista_troca_localidade %}
              <tr>
                  <th scope="row">{{ item['id'] }}</th>
                  <th scope="row">{{ item['sku'] }}</th>
                  <td>{{ item['loc-antiga'] }}</td>
                  <td>{{ item['loc-nova'] }}</td>
                  <td>{{ item['quantidade'] }}</td>
                  <th scope="row">{{ item['situacao'] }}</th>
                  <th scope="row">{{ item['observacao'] }}</th>
                  <th scope="row">{{ item['loja'] }}</th>
                  <td>{{ item['usuario'] }}</td>
                  <td>{{ item['data-hora'] }}</td>
                  <td>
                      <form>
                          {% if item['situacao'] == "Alterado" %}
                              <button type="submit" formaction="/cancelar/{{ item['id'] }}" formmethod="POST">
                                  Cancelar
                              </button>
                          {% elif item['situacao'] == "Pendente" %}
                              <button type="submit" formaction="/troca-de-localidade/{{ item['id'] }}" formmethod="GET">
                                  Editar
                              </button>
                              <button type="submit" formaction="/excluir/{{ item['id'] }}" formmethod="POST">
                                  Excluir
                              </button>
                          {% endif %}
                      </form>
                  </td>
              </tr>
            {% endfor %}
        {% endif %}
      </tbody>
    </table>
    <!---->
</body>
</html>
