<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Troca de Localidade - @mikaelzera</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/troca_de_localidade.css') }}" >
</head>
    <style></style>
<body>
    <div class="body-inputs-troca">
        <div class="inputs-troca">
            <form class="formulario">
                <div class="head-form">
                    <input id="display-id" name="display-id" class="input-form form-control" type="text"
                           placeholder="ID" value="{{ id_item }}" style="width: 50px" readonly>
                    <select class="input-form" id="input-loja" name="input-loja"
                            style="margin-right: 5px; margin-left: 10px; border-radius: 5px; cursor: pointer;">
                        {% if id_item %}
                          <option selected="selected" value="{{ item['loja'] }}">{{ item['loja'] }}</option>
                        {% elif loja_padrao %}
                          <option selected="selected" value="{{ loja_padrao }}">{{ loja_padrao }}</option>
                        {% endif %}
                      <option value="Rosa Azul">Rosa Azul</option>
                      <option value="Use Force">Use Force</option>
                    </select>
                    <input id="input-user" name="input-user" class="input-form form-control" type="text"
                           placeholder="Usuário" style="margin-left: 5px;"
                           value="{{ usuario_padrao if usuario_padrao else '' }}">
                </div>
                <input id="input-sku" name="input-sku" class="input-form form-control" type="text"
                       placeholder="Referência (SKU)" value="{{ item['sku'] }}">
                <div class="inputs-localidades">
                    <input id="input-loc-antiga" name="input-loc-antiga" class="input-form form-control" type="text"
                           placeholder="Localidade Antiga" value="{{ item['loc-antiga'] }}" style="margin-right: 5px">
                    <input id="input-loc-nova" name="input-loc-nova" type="text" class="input-form form-control"
                           placeholder="Localidade Nova" value="{{ item['loc-nova'] }}" style="margin-left: 5px">
                </div>
                <input id="input-quantidade" name="input-quantidade" type="number" class="input-form form-control"
                       placeholder="Quantidade (Padrão = Quantidade liberada)" value="{{ item['quantidade'] }}">
                <input id="input-observacao" name="input-observacao" type="text" class="input-form form-control"
                       placeholder="Observação (Opcional)">
                <div class="footer-form">
                    <a class="btn-cancelar" href="{{ url_for('troca_de_localidade') }}" role="button"
                       aria-disabled="true">
                        Cancelar
                    </a>
                    <button id="btn-executar" class="btn-executar" type="submit" formaction="/executar"
                            formmethod="POST">
                        Executar
                    </button>
                </div>
            </form>
        </div>
    </div>

    <table class="table">
      <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">SKU</th>
            <th scope="col">Localidade Antiga</th>
            <th scope="col">Localidade Nova</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Situação</th>
            <th scope="col">Observação</th>
            <th scope="col">Loja</th>
            <th scope="col">Usuário</th>
            <th scope="col">Hora/Data</th>
            <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% if lista_troca_localidade %}
            {% for item in lista_troca_localidade %}
              <tr>
                  <th scope="row">{{ item['id'] }}</th>
                  <th scope="row">{{ item['sku'] }}</th>
                  <td>{{ item['loc-antiga'] }}</td>
                  <td>{{ item['loc-nova'] }}</td>
                  <td>{{ item['quantidade'] }}</td>
                  <th scope="row">{{ item['situacao'] }}</th>
                  <th scope="row">{{ item['observacao'] }}</th>
                  <th scope="row">{{ item['loja'] }}</th>
                  <td>{{ item['usuario'] }}</td>
                  <td>{{ item['data-hora'] }}</td>
                  <td>
                      <form>
                          {% if item['situacao'] == "Alterado" %}
                              <button id="btn-cancelar" class="btn-cancelar" type="submit"
                                      style="padding: 5px 10px 5px 10px; font-size: 16px;"
                                      formaction="/cancelar/{{ item['id'] }}" formmethod="POST">
                                  Cancelar
                              </button>
                          {% elif item['situacao'] == "Pendente" %}
                              <button style="padding: 5px 14px 5px 14px; font-size: 16px; color: #FFF;
                              margin-bottom: 10px; background-color: #0FB8CE;"
                                      formaction="/troca-de-localidade/{{ item['id'] }}" formmethod="GET" type="submit">
                                  Editar
                              </button>
                              <button id="btn-excluir" class="btn-cancelar" type="submit"
                                      style="padding: 5px 10px 5px 10px; font-size: 16px;"
                                      formaction="/excluir/{{ item['id'] }}" formmethod="POST">
                                  Excluir
                              </button>
                          {% endif %}
                      </form>
                  </td>
              </tr>
            {% endfor %}
        {% endif %}
      </tbody>
    </table>
</body>
</html>
